$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/fullpage.js/jquery.fullPage.scss";
// endbower

@font-face {
  font-family: 'Voltaire-Regular';
  src: url('../fonts/Voltaire-Regular.ttf')  format('truetype')
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'Voltaire-Regular' sans-serif;
  font-family: 'Open Sans', sans-serif;
}
footer {
	position:absolute;
	bottom: 0px;
	width:100%;
	height: 60px;
	z-index: 500;
	background-color:rgba(0, 0, 0, 0.7);
	border: none;
	color: #ededed;
	p {
		padding: 20px 100px;
		a {
			color: #ededed;
		}
	}
}
a {
    color: #e2b700;

}
a:hover {
    color: #e2b700;
    text-decoration: underline;
}
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketin {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

#menuContainer{

    background-color:rgba(0, 0, 0, 0.7);
    #menu {

        padding-left:10px;
        #brand {
            background:url("../images/LegacyOnBroad_transparent_logoblack.png");
            background-repeat: no-repeat;
            margin:10px;
            margin-bottom:0px;
            margin-top:0px;
            padding-top:10px;
            width:220px;
            height:52px;
            background-position-y: 10px;
        }
        a {
            font-size:13px;
        }
        a:hover {
            border-bottom:1px solid yellow;
        }
        .active {
            background: none;
            border-bottom: 1px solid #bc9120;
        }
    }
}

#fp-nav {
    border-radius: 200px;
    background-color:rgba(255, 255, 255, 0.5);
}

#section0 {
    background: url("../images/philly-bg7.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: 2;
	color: #f4f4f4;

    #video-container {
        z-index: 0;
        float:left;
    }

    #catch-phrase {
        float:right;
        text-align:right;
        margin-right: 200px;
        font-size: 80px;
    }
	#content {
		margin-left: 200px;
		font-size:24px;
	}
}

#section1 {
	background-color: #1f1f1f;
	background-image: url("http://www.transparenttextures.com/patterns/black-linen.png");
	text-align: center;
    video#bgvid {
        width: auto;
        height: auto;
        background-size: cover;
		border: 1px solid #222;
        z-index: 200;
		-webkit-box-shadow: 4px 3px 5px 0px rgba(0,0,0,1);
		-moz-box-shadow: 4px 3px 5px 0px rgba(0,0,0,1);
		box-shadow: 4px 3px 5px 0px rgba(0,0,0,1);
    }
    #videoControl {
        position: relative;
        top: -90%;
        left: 43%;
        button {
            margin:5px;
            border: 2px solid rgba(0,0,0,0.7);
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            width: 150px;
            height: 150px;
            -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.5);
            -moz-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.5);
            box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.5);
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            -ms-transition: all 0.5s ease;
            transition: all 0.5s ease;
            cursor: pointer;
            background: transparent;
        }
    }
}

#section2 {
	.fp-tableCell{
		vertical-align: top;
	}

    background-color: #d9d9d9;
    background-image: url("../images/dimension.png");
	#yellowSq {
		position:relative;
		top: 52px;
    }
    #content {
        font-size:16px;
        padding: 60px;
        line-height: 2;
        p {
            margin-top: 50px;
        }
        img {

            border: 4px solid white;
            -webkit-box-shadow: 9px 9px 5px -6px rgba(0,0,0,0.75);
            -moz-box-shadow: 9px 9px 5px -6px rgba(0,0,0,0.75);
            box-shadow: 9px 9px 5px -6px rgba(0,0,0,0.75);
        }

    }
}
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes flipInY {
    0% {
        -webkit-transform: perspective(400px) rotateY(90deg);
        opacity: 0;
    }
    40% {
        -webkit-transform: perspective(400px) rotateY(-10deg);
    }
    70% {
        -webkit-transform: perspective(400px) rotateY(10deg);
    }
    100% {
        -webkit-transform: perspective(400px) rotateY(0deg);
        opacity: 1;
    }
}
@keyframes flipInY {
    0% {
        transform: perspective(400px) rotateY(90deg);
        opacity: 0;
    }
    40% {
        transform: perspective(400px) rotateY(-10deg);
    }
    70% {
        transform: perspective(400px) rotateY(10deg);
    }
    100% {
        transform: perspective(400px) rotateY(0deg);
        opacity: 1;
    }
}
.flipInY {
    -webkit-backface-visibility: visible !important;
    -webkit-animation-name: flipInY;
    backface-visibility: visible !important;
    animation-name: flipInY;
}
#section3 {
	background-color: #394657;
	background-image: url("http://www.transparenttextures.com/patterns/grey-washed-wall.png");
    text-align: center;
    img {
        border: 4px solid white;
        -webkit-box-shadow: 9px 9px 5px -6px rgba(0,0,0,0.75);
        -moz-box-shadow: 9px 9px 5px -6px rgba(0,0,0,0.75);
        box-shadow: 9px 9px 5px -6px rgba(0,0,0,0.75);
    }
}

#section4 {
    background: url("../images/TMP.jpg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #EEE;
    #content {
        padding: 100px;

    }
}

#section5 {
    color: #222;
    font-size: 16px;
    background-color: #fffbf5;
    background-image: url("http://www.transparenttextures.com/patterns/pixel-weave.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
    #content {
        padding-left: 200px;
        p#email {
            margin: 20px;
        }
    }
}
